---
title: Activities
layout: default
---

<section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="index.html"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li class="active">Activities</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
<div class="container">
  <h4 class="hh">AWARENESS CAMP ON ADDICTION OF OPIUM</h1>
</div>
{% include bg2.html %}


<div class="container">
    <h4 class="hh">E-WASTE MANAGEMENT CAMP</h1>
</div>

{% include bg1.html %}

<style type="text/css">
  
.hh{
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

</style>