
    <section id="intro">

      <div class="container">
        <div class="row">
          <div class="span12">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <ul class="slides">
               
                <li data-thumb="assets/img/slides/flexslider/19.jpg">
                  <img src="assets/img/slides/flexslider/19.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/20.jpg">
                  <img src="assets/img/slides/flexslider/20.jpg" alt="" />
                </li>
                 <li data-thumb="assets/img/slides/flexslider/21.jpg">
                  <img src="assets/img/slides/flexslider/21.jpg" alt="" />
                </li>
                 <li data-thumb="assets/img/slides/flexslider/22.jpg">
                  <img src="assets/img/slides/flexslider/22.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/slides/flexslider/23.jpg">
                  <img src="assets/img/slides/flexslider/23.jpg" alt="" />
                </li>
                 <li data-thumb="assets/img/slides/flexslider/24.jpg">
                  <img src="assets/img/slides/flexslider/24.jpg" alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section>
