<section id="intro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <div class="dd"></div>
              <ul class="slides">
                <li data-thumb="assets/img/registrations/1.jpg">
                  <img src="assets/img/registrations/1.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/registrations/2.jpg">
                  <img src="assets/img/registrations/2.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/registrations/3.jpg">
                  <img src="assets/img/registrations/3.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/registrations/4.jpg">
                  <img src="assets/img/registrations/4.jpg" alt="" />
                </li>
                <li data-thumb="assets/img/registrations/5.jpg">
                  <img src="assets/img/registrations/5.jpg" alt="" />
                </li>
                 <li data-thumb="assets/img/registrations/6.jpg">
                  <img src="assets/img/registrations/6.jpg" alt="" />
                </li>
              </ul>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <style type="text/css">
      .dd{
        text-align: center;
      }
    </style>